:root{
  --cor-fundo:#691A40;
  --cor-destaque:#FA1464;
  --cor-texto: #ffffff;
}

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
}

.apresentacao{
  display flex: ;
  margin: 18%;
  align-items: center;
  justify-content: space-between;
}

strong{
  color: var(--cor-destaque)
}

a{

}

  .foto{
    height: 490px;
  }


